{% set author = record|related('people')|first %}

{% if author %}
	<div class="flex flex-row flex-wrap gap-4">
			<span class=" text-gray-900">
				{{ record.publishedAt|localdate}}
			</span>
			<span class="text-gray-900">
				{{ record|related('people')|map(p => "#{p.name}")|join(',')}}
			</span>
			{% for type, taxonomies in record|taxonomies %}
				{% for taxonomy in taxonomies %}
					<span class="text-gray-900">
						{{ taxonomy.name }}
					</span>
				{% endfor %}
			{% endfor %}
		</div>
{% endif %}
